<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="metadata">
        <ui:param name="title" value="Timeline"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 

        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Timeline
    </ui:define>

    <ui:define name="body">
        <h:form  id="form">
            <p:focus context="@form"/>
            <div class="box box-primary ui-g-12 ui-sm-12">
                <p:panel id="panel" header="Write a tweet" style="margin-bottom:10px;">

                    <div class="ui-g-12 ui-sm-12">
                        <div class="ui-material icon-left">
                            <p:inputText id="inputUser" required="true" placeholder="User" value="#{MBTimeline.username}">
                                <i id="fa" class="fa fa-2x fa-user" cols="50" />
                            </p:inputText>
                            <p:outputLabel id="label" for="inputUser" value="User"/>
                            <p:message for="inputUser"/>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <p:commandButton id="buttonVerTweets" styleClass="btn btn-success btn-block"   action ="#{MBTimeline.getTweetsUsuario}" 
                                         value="Ver Tweets" update="@form">
                        </p:commandButton>
                    </div>

                    <div class="ui-g-12 ui-sm-12">
                        <div class="ui-material ui-g-12 ui-sm-12">
                            <p:inputTextarea id="textareaTweet"  cols="50" rows="5" value="#{MBTimeline.contenido}" placeholder="¿What are you thinking?" required="false" />
                            <p:outputLabel  for="textareaTweet" value="¿What are you thinking?" />
                            <p:message for="textareaTweet"/>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <p:commandButton id="buttonPublicar" styleClass="btn btn-success btn-block"  action="#{MBTimeline.insertar}"  
                                         value="Publicar" update="@form" >
                        </p:commandButton>
                    </div>

                    <p:spacer height="50"/>
                </p:panel>   


                    <ui:repeat  var="t" value="#{MBTimeline.lstTweets}">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <p:panel header="@ #{t.user}" styleClass="box-primary">
                                <h:panelGrid columns="1">
                                    <h:panelGrid>
                                        <h:outputText value= "#{t.contenido}" />
                                    </h:panelGrid>
                                </h:panelGrid>

                            </p:panel>
                        </div>
                    </ui:repeat>

            </div>
        </h:form>
    </ui:define>

</ui:composition>
